@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal; }

.text {
  max-width: 50%; }

.text h1 {
  font-size: 48px;
  margin-bottom: 20px; }

.text p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px; }

button {
  width: 7rem;
  height: 2rem;
  border: none;
  border-radius: 1rem;
  background: #32cd32;
  cursor: pointer;
  transition: transform 0.1s ease-in-out; }

.buttons {
  margin-bottom: 30px; }
  .buttons .btn {
    text-decoration: none;
    padding: 15px 25px;
    margin-right: 10px;
    border-radius: 50px;
    font-size: 16px;
    color: white;
    background-color: #444;
    transition: background-color 0.3s ease; }
    .buttons .btn.green {
      background-color: #32cd32; }
    .buttons .btn:hover {
      background-color: #555; }

.button-box button {
  width: 17rem;
  height: 3rem; }

.buttonInImage {
  position: absolute;
  top: 11%;
  left: 18%;
  width: 106px;
  height: 43px;
  background: #f1f1f1;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
  transform: translate(-50%, -50%); }
  .buttonInImage:hover {
    transition: 0.5s;
    background: #d9d9d9; }

.stats {
  display: flex;
  gap: 30px;
  font-size: 20px;
  top: 2rem;
  position: relative; }
  .stats div span {
    display: block;
    font-size: 14px;
    color: #ccc; }

.chatContainer {
  top: 0.4rem;
  position: relative; }
  .chatContainer .menuItem {
    width: 20rem;
    border-radius: 1rem;
    background: white;
    height: 4rem;
    padding: 10px;
    margin-bottom: 1rem; }
    .chatContainer .menuItem.selected {
      background-color: #202223;
      color: white;
      height: 7rem; }
      .chatContainer .menuItem.selected p {
        position: relative;
        left: 1.5rem;
        max-width: 81%; }
      .chatContainer .menuItem.selected span {
        top: 0.5rem;
        left: 1.5rem;
        position: relative; }
    .chatContainer .menuItem span {
      top: 1.5rem;
      left: 1.5rem;
      position: relative; }

.image-container {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center; }
  .image-container img {
    max-width: 100%;
    height: auto;
    background: #524747;
    border-radius: 30px;
    box-shadow: 0rem 0rem 24rem #ffd5d5; }

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  position: relative;
  top: 2rem; }
  .imageContainer .image {
    position: relative;
    width: 100%; }
    .imageContainer .image img {
      width: 100%;
      object-fit: cover;
      border-radius: 1.8rem;
      height: 20rem; }

.profileImg {
  position: relative;
  left: 4rem; }

.textBox {
  display: flex;
  gap: 5rem; }
  .textBox .secondTextBox {
    left: 7rem;
    position: relative; }
    .textBox .secondTextBox p {
      max-width: 72%;
      left: -5rem;
      position: relative; }
  .textBox .thirdTextBox {
    left: -3rem;
    position: relative; }

.boxes {
  display: flex;
  gap: 2rem;
  top: 2rem;
  position: relative; }
  .boxes .paragraph {
    left: 1rem;
    top: 1rem;
    position: relative;
    max-width: 90%; }
  .boxes .imgProfileBox {
    top: 6rem;
    left: 1rem;
    position: relative; }
  .boxes img {
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
    object-fit: cover;
    top: 0.8125rem;
    position: relative; }
  .boxes .imgProfileBox {
    display: flex; }
  .boxes .firstBox,
  .boxes .secondBox,
  .boxes .thirdBox {
    width: 50rem;
    border-radius: 2rem;
    height: 18rem; }
  .boxes .firstBox {
    background-color: #bbf99e; }
  .boxes .secondBox {
    background-color: #ccbafe; }
    .boxes .secondBox .testimonialsP {
      left: 6rem;
      position: relative; }
  .boxes .thirdBox {
    background-color: #a5e4f9; }
    .boxes .thirdBox .testimonialsP {
      left: 11rem;
      position: relative;
      max-width: 60%; }

.informationBox {
  left: 0.5rem;
  position: relative; }

.firstBox .informationBox p,
.secondBox .informationBox p,
.thirdBox .informationBox p {
  margin-bottom: -5px; }

.firstBox .informationBox p:last-child,
.secondBox .informationBox p:last-child,
.thirdBox .informationBox p:last-child {
  margin-bottom: 0; }

.plans {
  top: 17rem;
  position: relative;
  background: #181a1b;
  border-radius: 3rem;
  width: 75rem;
  height: 70rem;
  left: 1rem;
  color: white; }

.mainBox {
  left: 3rem;
  position: relative;
  top: 2rem;
  width: 64rem; }
  .mainBox .custom-divider {
    background-color: rgba(0, 0, 3, 0.2);
    margin: 10px 0;
    height: 2px; }
  .mainBox .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px; }
    .mainBox .box .status {
      width: 26rem;
      justify-content: space-between;
      display: flex; }
      .mainBox .box .status span {
        width: 8rem; }

.subscription {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background-color: #262728;
  border-radius: 8px; }

.subscription-options {
  display: flex;
  gap: 20px; }
  .subscription-options span {
    width: 8rem;
    height: 2rem;
    border-radius: 5px; }
    .subscription-options span p {
      position: relative;
      left: 0.5rem;
      color: #2f3a2e; }
  .subscription-options .basic {
    background: #bbf99e; }
    .subscription-options .basic .fas {
      left: 3.5rem; }
  .subscription-options .advanced {
    background: #ccbafe; }
    .subscription-options .advanced .fas {
      left: 1.5rem; }
  .subscription-options .premium {
    background: #edd087; }
    .subscription-options .premium .fas {
      left: 1.5rem; }
  .subscription-options span {
    display: flex;
    align-items: center; }
  .subscription-options i {
    margin-left: 5px;
    color: #888;
    left: 2rem;
    position: relative; }

.secondBox2 {
  width: 35rem;
  left: 11rem;
  top: 10rem;
  position: relative;
  display: flex; }
  .secondBox2 .download h1 {
    font-size: 3rem; }
  .secondBox2 .download p {
    text-align: left;
    top: -1rem;
    position: relative; }
  .secondBox2 .download .logo {
    display: flex; }
    .secondBox2 .download .logo .downloadIcon {
      width: 12.3rem;
      height: 3.5rem;
      background: black;
      border-radius: 8px;
      display: flex;
      border: 1px solid white; }
      .secondBox2 .download .logo .downloadIcon i {
        font-size: 2.5rem;
        top: 8px;
        left: 15px;
        position: relative; }
      .secondBox2 .download .logo .downloadIcon .text {
        left: 1.75rem;
        position: relative; }
        .secondBox2 .download .logo .downloadIcon .text .p {
          text-align: left;
          top: -0.5rem;
          position: relative;
          font-size: 13px;
          left: 0.5rem;
          max-width: 100%; }
        .secondBox2 .download .logo .downloadIcon .text .p2 {
          position: relative;
          left: 0.5rem;
          font-size: 22px;
          top: -3rem;
          max-width: 100%; }
    .secondBox2 .download .logo .googlePlay {
      width: 12.3rem;
      height: 3.5rem;
      background: black;
      border-radius: 8px;
      display: flex;
      border: 1px solid white;
      left: 1rem;
      position: relative; }
      .secondBox2 .download .logo .googlePlay i {
        font-size: 3rem;
        top: 4px;
        left: 15px;
        position: relative; }
      .secondBox2 .download .logo .googlePlay .text {
        left: 1.75rem;
        position: relative;
        width: 8rem; }
        .secondBox2 .download .logo .googlePlay .text .p {
          top: 1px;
          position: relative;
          font-size: 11px;
          left: 0.5rem;
          max-width: 100%;
          text-align: start; }
        .secondBox2 .download .logo .googlePlay .text .p2 {
          position: relative;
          font-size: 18px;
          top: -2rem;
          display: flex;
          max-width: 100%;
          left: 6px; }
  .secondBox2 .img {
    width: 19rem;
    top: -6rem;
    position: relative;
    left: 8rem; }
    .secondBox2 .img img {
      width: 19rem; }

.custom-divider2 {
  width: 74rem;
  background-color: rgba(0, 0, 3, 0.2);
  margin: 10px 0;
  height: 2px;
  top: 25rem;
  position: relative;
  left: 1rem; }

.down {
  display: flex;
  justify-content: space-between;
  color: gray;
  top: 26rem;
  position: relative;
  width: 74rem;
  left: 1rem; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white; }
  .header .left-header-section {
    display: flex; }
    .header .left-header-section .logo {
      width: 3rem; }
    .header .left-header-section p {
      padding-left: 1rem;
      color: black; }
  .header .center-header-section ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0; }
    .header .center-header-section ul li {
      cursor: pointer; }
      .header .center-header-section ul li a {
        text-decoration: none;
        color: #131313; }
      .header .center-header-section ul li a:hover {
        color: #6e6e6e;
        transition: 0.2s; }

.footer {
  top: 24rem;
  position: relative;
  width: 73rem;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center; }
  .footer .left-section {
    display: flex; }
    .footer .left-section img {
      width: 3rem; }
    .footer .left-section p {
      padding-left: 1rem;
      color: #181a1b; }
  .footer .center-section ul {
    display: flex;
    gap: 20px; }
    .footer .center-section ul li {
      list-style-type: none; }
      .footer .center-section ul li a {
        text-decoration: none;
        color: #181a1b; }
  .footer .right-section ul li {
    list-style-type: none; }
  .footer .right-section ul {
    display: flex;
    gap: 20px;
    padding: 0px;
    margin: 0px; }
    .footer .right-section ul li a {
      text-decoration: none;
      color: #131313; }

.heroSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background: #111;
  border-radius: 20px;
  max-width: 69rem;
  margin: 50px auto;
  color: white;
  top: -2rem;
  position: relative; }

.appContainer {
  background-color: #f4f5f6;
  top: 10rem;
  position: relative;
  height: 45.2rem; }
  .appContainer .row {
    position: relative;
    display: flex;
    gap: 13rem;
    padding: 6rem;
    width: 60rem; }
    .appContainer .row .profileImg img {
      width: 26rem; }

.testimonials {
  width: 65rem;
  left: 6rem;
  position: relative;
  top: 15rem; }
  .testimonials .Testimonials h1 {
    font-size: 3rem; }

.differentDes {
  width: 75rem;
  position: relative;
  left: 1rem; }
  .differentDes .paragraph {
    display: flex;
    gap: 20px; }
    .differentDes .paragraph .text {
      max-width: 28%; }
    .differentDes .paragraph .text2 {
      max-width: 27%;
      left: 3rem;
      position: relative; }
    .differentDes .paragraph .text3 {
      left: 18rem;
      position: relative; }
      .differentDes .paragraph .text3 img {
        width: 1rem;
        top: 4px;
        position: relative;
        cursor: pointer; }
  .differentDes .secondParagraph {
    top: 2rem;
    position: relative;
    display: flex; }
    .differentDes .secondParagraph p {
      max-width: 80%; }
  .differentDes .button-box {
    top: 3rem;
    position: relative;
    text-align: center; }

/*# sourceMappingURL=style.css.map */
