@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal; }

.text {
  max-width: 50%; }

.text h1 {
  font-size: 48px;
  margin-bottom: 20px; }

.text p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px; }

button {
  width: 7rem;
  height: 2rem;
  border: none;
  border-radius: 1rem;
  background: #32cd32;
  cursor: pointer;
  transition: transform 0.1s ease-in-out; }

.buttons {
  margin-bottom: 30px; }
  .buttons .btn {
    text-decoration: none;
    padding: 15px 25px;
    margin-right: 10px;
    border-radius: 50px;
    font-size: 16px;
    color: white;
    background-color: #444;
    transition: background-color 0.3s ease; }
    .buttons .btn.green {
      background-color: #32cd32; }
    .buttons .btn:hover {
      background-color: #555; }

.button-box button {
  width: 17rem;
  height: 3rem; }

.buttonInImage {
  position: absolute;
  top: 11%;
  left: 18%;
  width: 106px;
  height: 43px;
  background: #f1f1f1;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
  transform: translate(-50%, -50%); }
  .buttonInImage:hover {
    transition: 0.5s;
    background: #d9d9d9; }

.stats {
  display: flex;
  gap: 30px;
  font-size: 20px;
  top: 2rem;
  position: relative; }
  .stats div span {
    display: block;
    font-size: 14px;
    color: #ccc; }

.chatContainer {
  top: 0.4rem;
  position: relative; }
  .chatContainer .menuItem {
    width: 20rem;
    border-radius: 1rem;
    background: white;
    height: 4rem;
    padding: 10px;
    margin-bottom: 1rem; }
    .chatContainer .menuItem.selected {
      background-color: #202223;
      color: white;
      height: 7rem; }
      .chatContainer .menuItem.selected p {
        position: relative;
        left: 1.5rem;
        max-width: 81%; }
      .chatContainer .menuItem.selected span {
        top: 0.5rem;
        left: 1.5rem;
        position: relative; }
    .chatContainer .menuItem span {
      top: 1.5rem;
      left: 1.5rem;
      position: relative; }

.image-container {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center; }
  .image-container img {
    max-width: 100%;
    height: auto;
    background: #524747;
    border-radius: 30px;
    box-shadow: 0rem 0rem 24rem #ffd5d5; }

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  position: relative;
  top: 2rem; }
  .imageContainer .image {
    position: relative;
    width: 100%; }
    .imageContainer .image img {
      width: 100%;
      object-fit: cover;
      border-radius: 1.8rem;
      height: 20rem; }

.profileImg {
  position: relative;
  left: 4rem; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white; }
  .header .left-header-section {
    display: flex; }
    .header .left-header-section .logo {
      width: 3rem; }
    .header .left-header-section p {
      padding-left: 1rem;
      color: black; }
  .header .center-header-section ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0; }
    .header .center-header-section ul li {
      cursor: pointer; }
      .header .center-header-section ul li a {
        text-decoration: none;
        color: #131313; }
      .header .center-header-section ul li a:hover {
        color: #6e6e6e;
        transition: 0.2s; }

.heroSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background: #111;
  border-radius: 20px;
  max-width: 69rem;
  margin: 50px auto;
  color: white;
  top: -2rem;
  position: relative; }

.appContainer {
  background-color: #f4f5f6;
  top: 10rem;
  position: relative;
  height: 45.2rem; }
  .appContainer .row {
    position: relative;
    display: flex;
    gap: 13rem;
    padding: 6rem;
    width: 60rem; }
    .appContainer .row .profileImg img {
      width: 26rem; }

.differentDes {
  width: 75rem;
  position: relative;
  left: 1rem; }
  .differentDes .paragraph {
    display: flex;
    gap: 20px; }
    .differentDes .paragraph .text {
      max-width: 28%; }
    .differentDes .paragraph .text2 {
      max-width: 27%;
      left: 3rem;
      position: relative; }
    .differentDes .paragraph .text3 {
      left: 18rem;
      position: relative; }
      .differentDes .paragraph .text3 img {
        width: 1rem;
        top: 4px;
        position: relative;
        cursor: pointer; }
  .differentDes .secondParagraph {
    top: 2rem;
    position: relative;
    display: flex; }
    .differentDes .secondParagraph p {
      max-width: 80%; }
  .differentDes .button-box {
    top: 3rem;
    position: relative;
    text-align: center; }

/*# sourceMappingURL=style.css.map */
