.plans {
  top: 25rem;
  position: relative;
  background: #181a1b;
  border-radius: 3rem;
  width: 70rem;
  height: 70rem;
  left: 3rem;
  color: white;

  .mainBox {
    left: 3rem;
    position: relative;
    top: 2rem;
    width: 64rem;

    .custom-divider {
      background-color: rgba(0, 0, 3, 0.2);
      margin: 10px 0;
      height: 2px;
    }

    .box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 20px;

      .status {
        width: 26rem;
        justify-content: space-between;
        display: flex;

        span {
          width: 8rem;
        }
      }
    }

    .subscription {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 20px;
      background-color: #262728;
      border-radius: 8px;
    }

    .subscription-options {
      display: flex;
      gap: 20px;

      span {
        width: 8rem;
        height: 2rem;
        border-radius: 5px;

        p {
          position: relative;
          left: 0.5rem;
          color: #2f3a2e;
        }
      }

      .basic {
        background: #bbf99e;

        .fas {
          left: 4rem;
        }
      }

      .advanced {
        background: #ccbafe;
      }

      .premium {
        background: #edd087;
      }
    }

    .subscription-options span {
      display: flex;
      align-items: center;
    }

    .subscription-options i {
      margin-left: 5px;
      color: #888;
      left: 2rem;
      position: relative;
    }
  }
}
