.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background: #111;
  border-radius: 20px;
  max-width: 69rem;
  margin: 50px auto;
  color: white;
  top: -2rem;
  position: relative;
}
