.footer {
  top: 24rem;
  position: relative;
  width: 73rem;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;

  .left-section {
    display: flex;

    img {
      width: 3rem;
    }

    p {
      padding-left: 1rem;
      color: #181a1b;
    }
  }

  .center-section {
    ul {
      display: flex;
      gap: 20px;

      li {
        list-style-type: none;

        a {
          text-decoration: none;
          color: #181a1b;
        }
      }
    }
  }

  .right-section {
    ul li {
      list-style-type: none;
    }
  }

  .right-section {
    ul {
      display: flex;
      gap: 20px;
      padding: 0px;
      margin: 0px;

      li {
        a {
          text-decoration: none;
          color: rgb(19, 19, 19);
        }
      }
    }
  }
}
