button {
  width: 7rem;
  height: 2rem;
  border: none;
  border-radius: 1rem;
  background: #a5d6a7;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;

  &:hover {
    background-color: #74b977;
    transform: translateY(-2px);
  }
  &:active {
    transform: translateY(0);
  }
}

.buttons {
  margin-bottom: 30px;

  .btn {
    text-decoration: none;
    padding: 15px 25px;
    margin-right: 10px;
    border-radius: 50px;
    font-size: 16px;
    color: white;
    background-color: #444;
    transition: background-color 0.3s ease;

    &.green {
      background-color: #32cd32;
    }

    &:hover {
      background-color: #555;
    }
  }
}
