.custom-divider2 {
  width: 74rem;
  background-color: rgba(0, 0, 3, 0.2);
  margin: 10px 0;
  height: 2px;
  top: 25rem;
  position: relative;
  left: 1rem;
}

.down {
  display: flex;
  justify-content: space-between;
  color: gray;
  top: 26rem;
  position: relative;
  width: 74rem;
  left: 1rem;
}
