.image-container {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;

  & img {
    max-width: 100%;
    height: auto;
    background: #524747;
    border-radius: 30px;
    box-shadow: 0rem 0rem 24rem rgba(255, 213, 213, 5.7);
  }
}

.imageContainer {
  @include flex-center;
  justify-content: space-between;
  gap: 20px;
  position: relative;
  top: 2rem;

  .image {
    position: relative;
    width: 100%;

    img {
      width: 100%;
      object-fit: cover;
      border-radius: $border-radius;
      height: 20rem;
    }
  }
}
