.differentDes {
  width: 83rem;
  position: relative;
  left: 1rem;

  .paragraph {
    display: flex;
    gap: 20px;

    .text {
      max-width: 28%;
    }

    .text2 {
      max-width: 27%;
      left: 3rem;
      position: relative;
    }

    .text3 {
      left: 18rem;
      position: relative;

      img {
        width: 1rem;
        top: 4px;
        position: relative;
        cursor: pointer;
      }
    }
  }

  .secondParagraph {
    top: 2rem;
    position: relative;
    display: flex;

    p {
      max-width: 80%;
    }
  }

  .button-box {
    top: 3rem;
    position: relative;
    text-align: center;
  }
}
